ul, .empty-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: x-large;
    width: 90vw;
    max-width: 500px;
    padding: 0;
    margin-inline: auto;
}
li:nth-child(2n-1) {
    background-color: #f2f2f2;
}
.empty-list {
    margin: 16px auto;
    color: #555555;
    text-align: center;
}
.edit-item {
    line-height: 1.75em;
    height: 2.5em;
}
.list-item, .edit-form {
    height: 2.5em;
    font-size: x-large;
    justify-content: space-between;
    display: flex;
    align-items:center;
}
.list-item{ 
    padding: 0 .5em .2em;
}
.edit-form {
    padding-right: .25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.del-icon{
    pointer-events: none;
    height: 60%;
}
.edit-button, .edit-submit, .del-button {
    color:#ffffff;
    background-color: #387d7d;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    align-self: center;
    border:none;
    margin: 0 .2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.edit-icon{
    pointer-events: none;
    height: 60%;
}
.list-item > span {
    display: flex;
    align-items: center;
    justify-content: center;
}
.check-icon{
    pointer-events: none;
    height: 60%;
}
.edit-form > input {
    height: 2.5em;
    background-color: #00000000;
    width: 240px;
    border: none;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: inherit;
    padding-left:.25em;
}

.edit-form > input:focus {
    outline: none;
}

@media only screen and (min-width: 768px) {
    ul, .empty-list {
        font-size: medium;
    }
    .list-item, .edit-form {
        height: 1.5em;
        font-size: medium;
    }
    .del-button, .edit-button, .edit-submit {
        width: 1.5em;
        height: 1.5em;
    }

}