.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-container > .title-div {
  height: 100px;
  background-color: #387d7d;
  margin-top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container > .title-div > h1 {
  text-align: center;
  color: #ffffff;
}

.add-task-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-task-form > input {
  width: 500px;
  padding: .25em;
  margin: .5em;
}
.add-task-form > input:focus {
  outline: none;
}

.add-task-form > button {
  background-color: #387d7d;
  color: #ffffff;
  border: none;
  padding: .5em;
}